<p>criar-usuario works!</p>

<form [formGroup]="form" (ngSubmit)="enviar()">
    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" formControlName="nome">
        <small>{{pegarErroCampo("nome", form)}}</small>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password">
        <small>{{pegarErroCampo("password", form)}}</small>
    </div>
    <div class="form-group">
        <label for="perfil">Perfil</label>
        <select formControlName="perfil">
            <option value="0">Admin</option>
            <option value="1">Usuário</option>
        </select>
    </div>
    <button type="submit" [disabled]="!form.valid"> Criar</button>
</form>